<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Creating A New Subscription Entry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
        <h1>Add a new Subscription</h1>
        <form action="#" th:action="@{/Profile}" th:object="${subscription}" method="post">
            <p>id: <input type="number" th:field="*{id}" /></p>
            <p>Name: <input type="text" th:field="*{name}" /></p>
            <p>Fee: <input type="text" th:field="*{fee}" /></p>

            <p><input type="submit" value="Create Subscription" /> <input type="reset" value="Cancel" /></p>
        </form>
</body>
</html>