<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Error</title>
</head>

<body>

<h1>Credential Error</h1>
<form action="#" th:action="@{/CredentialsErrorPage}" th:object="${userForm}" method="post">
    <p> Username or password is incorrect</p>
    <a href="/login">Try Again</a> <br/>
    <br/><a href="/CredentialsErrorPage"> Forgot Password? </a> <br/>
    <br/><a href="/registration"> Don't have an account? Create one!</a>
</form>

</body>

</html>