<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Error</title>
</head>

<body>

<h1>Error Resetting Password</h1>
<form action="#" th:action="@{/forgotPasswordErrorPage}" th:object="${userForm}" method="post">
    <p> An error occurred while resetting password </p>
    <p> Note: Password must not be same as the previous one</p>
    <a href="/forgotPassword">Try Again</a> <br/>
    <br/><a href="/registration"> Don't have an account? Create one!</a>
</form>

</body>

</html>