<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Perk Manager</title>
</head>
    <style>
        .search-container{
            float: none;
            /*change size of text box*/
        }
    </style>
<body>
        <script type="text/javascript" src="js/script.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

        <h1>Welcome to Perk Manager</h1>

        <p>You can <a href="/login">Sign in</a> if you have an account,</p>
        <p>Or <a href="/registration"> Sign up</a> to create your account </p>
        <p>Or you can explore interesting deals you can find!</p>

        <div class="search-container">
            <form action="/PerksLists">
                <input type="text" placeholder="Explore available perks" name="searchButton">
                <button type="submit">Search</button>
            </form>
        </div>

</body>
</html>