<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Perks Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Explore Perks</h1>
<p><input type="submit" value="Add New Perk" />
<ul>
    <li>**Sample1: 10% off Flight Ticket</li> <a href="Perks.html">Update Perks</a>

    <br></br>

    <li>**Sample2: 20% off Flight Ticket</li> <a href="Perks.html">Update Perks</a>

    <br></br>

    <li>**Sample3: 20% off Business Class Ticket</li> <a href="Perks.html">Update Perks</a>
</ul>
</body>
</html>