<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
        <h1>Welcome To Your Profile</h1>
        <p><input type="submit" value="Add a new subscription" />
        <ul>
            <li>**Sample1: Visa Credit Card</li> <a href="Perks.html">Update Perks</a>

            <br></br>

            <li>**Sample2: Air Miles</li> <a href="Perks.html">Update Perks</a>

            <br></br>

            <li>**Sample3: ESSO EXTRA Points Card</li> <a href="Perks.html">Update Perks</a>
        </ul>
</body>
</html>