<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Welcome</title>
    <link id="contextPathHolder" data-contextPath="${pageContext.request.contextPath}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="MainPage.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"/>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <style>
        label, input { display:block; }
        input.text { margin-bottom:12px; width:95%; padding: .4em; }
        fieldset { padding:0; border:0; margin-top:25px; }
        input.radio{
            display:inline;
        }

        a.navbar-brand.title{
            color: blue;
        }
        .search-container {
            float: left;
            padding: 18px;
        }
        .search-container input[type=text]{
            float: left;
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
        }
        .search-container button {
            margin-top: 8px;
            padding: 6px;
            margin-right: 16px;
            font-size: 17px;
            cursor: pointer;
        }
        span.btn.btn-danger.delete-button
        {
            align:right;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand title">Welcome to the PerkManager!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar_items">
            <ul class="nav navbar-nav">
                <li><a id="userNameLabel" th:text="'username: ' + ${userForm.username}"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- Bootstrap container class will put a margin around the page. -->
<div class="container">
    <br/>
    <div class="search-container">
        <input type="text" placeholder="Search for perks..." name="search"/>
        <button id="SearchPerks" class="btn btn-primary">Search</button>
    </div>
    <div align="right">
        <div class="checkbox">
            <label>
                <input type="checkbox" data-toggle="toggle" data-onstyle="success"/>
                View All Subscriptions
            </label>
        </div>
        <button id="AddSubscription" class="btn btn-primary"> Add Subscription </button>
        <button id="AddPerk" class="btn btn-primary"> Add Perk </button>
        <div class="filter">
            <form>
                <label>
                Sort By:
                <input type="radio" name="filter" class="radio" value="upvote" > Upvote </input>
                <input type="radio" name="filter" class="radio" value="downvote"> Downvote </input>
                <input type="radio" name="filter" class="radio" value="expiry" checked="true"> Expiry </input>
                </label>
            </form>
        </div>
    </div>
    <br/>
    <div class="col-md-3">
        <ul class="list-group" id="ActiveSubscriptions">
            <li class="list-group-item list-group-item-info">
                Active Subscriptions
            </li>
        </ul>
    </div>
    <div class="col-md-8">
    <table id="InfoTable" align="center" cellpadding="20" class ="table table-hover">
        <tbody>
            <tr><th>Subscription</th><th>Perk Code</th><th>Perk Description</th><th>Expiry Date</th><th></th><th></th><th></th></tr>
        </tbody>
    </table>
    </div>
    <div id="subscription-form" title="Add Subscription">
        <form>
            <fieldset>
                <label for="name_sub">Name</label>
                <input type="text" name="name" id="name_sub"/>
                <input type="submit" value="AddSubscription" tabindex="-1" style="position:absolute; top:-1000px"/>
            </fieldset>
        </form>
        <div class="alert alert-warning">
            Invalid Input</div>
    </div>
    <div id="perk-form" title="Add Perk">
        <form>
            <fieldset>
                <label for="code_perk">Name</label>
                <input type="text" name="name" id="code_perk"/>
                <label for="desc_perk">Description</label>
                <input type="text" name="desc" id="desc_perk"/>
                <label for="exp_perk">Expiry Date</label>
                <input type="date" name="exp" id="exp_perk"/>
                <label for="sub_perk">Subscription</label>
                <select name="sub" id="sub_perk">
                </select>
                <input type="submit" value="AddPerk" tabindex="-1" style="position:absolute; top:-1000px"/>
            </fieldset>
        </form>
        <div class="alert alert-warning">
            Invalid Input</div>
    </div>
</div>
   </body>
</html>